<html>

<head>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet">

</head>
<div class='nav'>
    <ul>
        <li><a href='/'>PASSWORD</a></li>
        <li><a href='#'>About Us</a></li>
        <li class='lamp'><span></span></li>
    </ul>
</div>
<body>

<h1>Password generator</h1><br>

<div class="slidecontainer">
    <p style="font-size: 16pt">Password length:</p>
    <input type="range" min="5" max="30" value="8" class="slider" id="myRange">
    <p style="text-align: left; font-size: 16pt">Length: <span
            id="length_pass"></span>
    </p>
</div>


<div class="toggle_area">
    <div class="toggle-button-cover">
        <p class="nova-text">Symbols !#$?.</p>
        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" id="symbolsCheck">
                <div class="knobs">
                    <span></span>
                </div>
                <div class="layer"></div>
            </div>

        </div>
    </div>
    <div class="toggle-button-cover">
        <p class="nova-text">Different register</p>

        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" id="registerCheck">
                <div class="knobs">
                    <span></span>
                </div>
                <div class="layer"></div>
            </div>

        </div>
    </div>
    <div class="toggle-button-cover">
        <p class="nova-text">Readable pass</p>
        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" id="readableCheck"
                       checked=false>
                <div class="knobs">
                    <span></span>
                </div>
                <div class="layer"></div>
            </div>

        </div>
    </div>
    <div class="toggle-button-cover">
        <p class="nova-text">Numeric</p>
        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" id="numericCheck"
                       value=true>
                <div class="knobs">
                    <span></span>
                </div>
                <div class="layer"></div>
            </div>

        </div>
    </div>
</div>
<div class="center_div">
    <input type="text"
           value="" id="result-password" class="result_areas">
    <div class="tooltip">
        <button onclick="copyText()" onmouseout="outFunc()">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            <svg class="bi bi-file-earmark" width="1em" height="1em"
                 viewBox="0 0 16 16"
                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z"/>
                <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z"/>
            </svg>
        </button>
    </div>
</div>
<br><br><br>

<div class="box">
    <a href="#" class="btn btn-white btn-animation-1"
       onclick="requestPassGen()">Get password</a>
</div>

</body>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/funcs.js') }}"></script>
</html>